{
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "prettier",
    "jsx-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "prettier",
    "react-app",
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "warn"
  }
}