{
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "jsx-a11y"
  ],
  "extends": [
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}