{
    "parser": "babel-eslint",
    "plugins": ["babel", "prettier", "jsx-a11y"],
    "extends": ["prettier", "plugin:react/recommended", "plugin:jsx-a11y/recommended"],
    "rules": { "prettier/prettier": "warn" },
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true,
        "serviceworker": true,
        "worker": true
    }
}
